*
!/.gitignore
!/.dockerignore
!/.env
!*.go
!*.proto
!go.sum
!go.mod
!README.md
!CONTRIBUTING.md
!CHANGELOG.md
!docs/*.md
!.github/workflows/*.yml
!.github/CODEOWNERS
!examples/kubernetes/*.yaml
!examples/swarm/docker-stack.yml
!examples/swarm/docker-stack.multi-network.yml
!LICENSE
!.release-please-manifest.json
!config.yml
!config.swarm.example.yml
!docker-compose.yml
!Dockerfile
!release-please-config.json
!examples/swarm/chaos.sh
!*/
